.backIcon,
.backLabel {
    color: #166de0;
    cursor: pointer;
}

#extra-bar {
    max-height: 76px;
    transition: max-height 0.25s ease;
    background-color: #f5f5f5;
}

#extra-bar div {
    padding: 0 1em 0.058em;
}

#extra-bar.hidden {
    max-height: 0px;
}

.backLabel {
    line-height: 33px;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
}