.NewTeamModal-noBottomSpace {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#teamEmailInput {
  background: linear-gradient(to right, #0027ab 0%, #fe0029 100%);
  color: white;
}

#teamIdentityInput {
  background: linear-gradient(to right, #0027ab 0%, #fe0029 100%);
  color: white;
}

.InputRow {
  display: flex;
  align-items: center;
  height: 32px;
}
